version: "3.8"

services:
  db-master:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234        # O usa ${MYSQL_ROOT_PASSWORD} si tienes un archivo .env
      MYSQL_DATABASE: curador_db       # O usa ${MYSQL_DATABASE}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_master_data:/var/lib/mysql
    command: --server-id=1 --log-bin=mysql-bin --binlog-do-db=curador_db

  db-slave:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: curador_db
    depends_on:
      - db-master
    volumes:
      - ./db/replica-setup.sql:/docker-entrypoint-initdb.d/replica-setup.sql
      - db_slave_data:/var/lib/mysql
    command: --server-id=2 --relay-log=relay-bin --read-only=1

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOSTS: "db-master,db-slave"
      PMA_USER: root                 # Pon igual que root si no tienes variables en .env
      PMA_PASSWORD: 1234
    depends_on:
      - db-master
      - db-slave

  backend:
    build:
      context: ./backend/app
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db-master
      DB_NAME: curador_db
      DB_USER: root
      DB_PASS: 1234
    depends_on:
      - db-master

volumes:
  db_master_data:
  db_slave_data: