version: "3.8"

services:
  db-master:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: curador_db
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_master_data:/var/lib/mysql
    command: --server-id=1 --log-bin=mysql-bin

  db-slave:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: curador_db
    depends_on:
      - db-master
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/replica-setup.sql:/docker-entrypoint-initdb.d/replica-setup.sql
      - db_slave_data:/var/lib/mysql
    command: --server-id=2 --relay-log=relay-bin --read-only=1

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOSTS: "db-master,db-slave"
      PMA_USER: root
      PMA_PASSWORD: 1234
    depends_on:
      - db-master
      - db-slave

  backend:
    build: ./backend
    container_name: backend-app
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db-master
      DB_NAME: curador_db
      DB_USER: root
      DB_PASS: 1234
    depends_on:
      - db-master
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      backend:
        condition: service_healthy
    stdin_open: true
    tty: true

volumes:
  db_master_data:
  db_slave_data:
